github "krzyzanowskim/CryptoSwift"
github "SwiftyJSON/SwiftyJSON"
github "anotheren/ANBaseNetwork" "2.0.0-rc.1"

# How to update
# carthage update --platform iOS --no-use-binaries --new-resolver --cache-builds

# How to install Carthage
# brew install carthage
